 #div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  /* color:oklch(0.76 0.01 264); */
  color:oklch(0.2 0.005 264);
  height: 50px;
  /* background-color: oklch(0.2 0.005 264); */
  padding: 0;
}

.div-flex {
  padding: 0 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.div-flex:hover {
  color:oklch(0.3 0.12 75); /* hiệu ứng hover nhẹ */
  font-weight:700;
  
}
/* Loại bỏ gạch chân và giữ màu chữ thừa hưởng từ thẻ cha */
.div-flex a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit;        /* Lấy màu chữ từ div mẹ (giúp giữ màu xám/đen bạn đã chọn) */
    display: block;        /* Để thẻ a chiếm trọn diện tích của div-flex, dễ bấm hơn */
    width: 100%;
    height: 100%;
}

/* Đảm bảo khi đã click rồi (visited) màu không bị đổi sang màu tím */
.div-flex a:visited {
    color: inherit;
}
