#div-contact-container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    gap:30px;
    padding-top: 60px;
    background-image: url('./lake.jpg');
}
#section-script{
    margin-left: 50px;
    width:30%;
    height: 90%;
     background-color: rgba(255, 255, 255, 0.4);
    /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter: blur(5px);
    font-size: 20px;
    font-style: italic;
    margin-top:50px;
    border-radius: 25px;
    color:#0a0520;
}
#section-script p{
    margin:40px;
    padding:10px;
    border:1px solid black;
    
}
#section-option{
    border-radius: 25px;
    margin-top:50px;

    display:flex;
    flex-direction: column;
    gap:10px;
    width:60%;
    height: 90%;
    /* background-color: rgb(134, 79, 90); */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
     align-items: center; 
   


}
.div-option{
    background-color: oklch(0.2 0.025 264);
    width: 50%;
    height:10%;
    margin-top:50px;
    border-radius: 25px;
    border:2px solid oklch(0.96 0.05 264);
    display: flex; 
    align-items: center; 
    padding-left:20px;
    
}
.div-option a{
    text-decoration: none;
    color:oklch(0.96 0.05 264);
    padding:10px;
    align-items: center;
}
#p-a-option{
    color:oklch(0.96 0.05 264);
}
/* #section-option p{
    color:black;
    font-style: italic;
} */
#p-a-option{
    color:black;
    font-style: italic;
    border-bottom:2px solid oklch(0.96 0.05 264);

}