#div-project-container-flex{
display:flex;
height:100vh;
width:100vw;
flex-direction: row;
gap:50px;
justify-content: center;
align-items: center; 
/* margin-top:50px; */
background-image: url('./lake.jpg');


}
.div-project-flex{
    width:50%;
    height:100%;
    /* background-color:#3C467B; */
    background-color: rgba(255, 255, 255, 0.4);
    /* -webkit-backdrop-filter: blur(5px); */
  backdrop-filter: blur(5px);

    margin-top:50px;
    padding-bottom:50px;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
/* .section-img-link{
  background-color:bisque;
} */
 /* .div-project-flex h3{
  margin-top:80px;
  
 } */
.section-img-link{
  height:50%;
  width:50%;
  /* background-color:brown; */
  padding:0;
  margin-top:50px;
  
}
.a-img{
  display:block;
  height:100%;
  width:100%;
}
.section-infor{
  height:50%;
  width:50%;
  background-color:E2E0C8;
  border:1px solid white;
  border-radius: 25px;
  
}
.div-img{
  border:2px solid white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  /* justify-content: center;
  align-items:center;
  background-size:cover; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.div-img:hover{
  transform: scale(1.05); 
  /* filter: brightness(1.15); */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);

}
.div-project-flex:nth-of-type(1) .div-img {
  background-image: url('./siam.png');
  /* background-color:#EEEEEE; */
  background-color:#0a0520;
  /* background-size: 100% 100%; */
  /* background-position: center; */ 
}

.div-project-flex:nth-of-type(2) .div-img {
  background-image: url('./lake.jpg');
  background-size: cover;
  background-position: center;
}
.description{
  padding:7px 30px;
}
#div-title-float{
  height:30%;
  width:20%;
  position:absolute;
  display:flex;
  padding-top:100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  justify-content: center; /* căn giữa ngang */
  align-items: center;     

  /* background-color:rgb(95, 119, 139); */
}
#div-title-float>p{
  text-align: center;
  font-size: 50px;
  font-style: italic;
  margin-top:-30px;
  color:#0a0520;

}
.list-description{
  color:#0F0E0E;
  font-style: italic;
  margin-top:-30px;
  
}
